.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #002d47;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}
.App-header p {
  margin: 4px 0;   /* ลดระยะห่างระหว่างบรรทัด */
}

.BIG {
  margin-top: 4px;  /* ลดช่องว่างด้านบนของ GROUB */
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: bold;
}

.small {
  margin: 2px 0;   /* ให้รายชื่อชิดกันมากขึ้น */
  font-size: 14px;
}